<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Portfolio Portal Request</title>
   <style>
            body {
            background-color: #e4e4e4;
            width: 100%;
            font-family: sans-serif;
            -webkit-font-smoothing: antialiased;
            font-size: 14px;
            line-height: 1.4;
            margin: 0;
            padding: 1rem;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }
     
     .container {
       text-align: center;
     }


   </style>
</head>
<body>
  <div class="container">
     <div>Hi There, </div>
     <p>This is an automated message to notify you that 
     your request for permission to access/register for 
     portfolio portal has been send successfully to the 
     administrative team.
     </p>
     
     <div />
     <p>
     Once someone from the support team has change the status,
     we will let you know through the same email only. It will
     take approx 24-48 hours.
     </p>
     
     <div />
     <p>
     If you did not request for this action, please contact us at
     </p>
     <a href="mailto:ankur@kumarankur.in">ankur@kumarankur.in</a>
       
       <div />
      <p>Thank you for choosing Portfolio Portal.</p>
       <div />
       <p>Best Regards,</p>
       <div />
       <p>Portfolio Portal Support Team.</p>
  </div>
</body>
</html>